body.episilion-bg {
  background-color: rgb(231, 221, 221);
  /* overflow: hidden; */
}

.ask-episilion-page-header {
  height: 60px;
  gap: 30px;
  display: flex;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: inherit;
  margin-bottom: 10px;
}

.ask-episilion-page-header-robot-image {
  width: 40px;
  padding: 5px;
  background-color: #d3c84d;
  border-radius: 10px;
  margin-bottom: 10px;
}

.ask-episilion-page-header-AI-description p:first-of-type {
  font-size: clamp(10px, 2vw, 15px);
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.ask-episilion-page-header-AI-description p:last-of-type {
  font-size: clamp(12px, 2vw, 15px);
  color: grey;
  /* example styling */
}

.ask-episilion-page-header-AI-description.sidebar {
  height: 50px;
  border-bottom: 2px solid grey;
  margin-bottom: 15px;
}

.main-epsilion-container {
  display: flex;
  height: 84vh;
  overflow: hidden;
}

.epsilion-wrapper-one {
  width: 226px;
  padding: 10px;
  background-color: white;
  border-right: .5px solid grey;
  height: 100vh;
  overflow: hidden;


  width: 260px;
  /* was unset on mobile */
  z-index: 1000;
  /* sit on top */
  /* transform: translateX(-100%); */
  /* transition: transform 0.3s ease; */
  /* position: fixed; */
  /* top: 0;
  left: 0;
  height: 100vh; */
  /* background-color: white; */
  min-width: 250px;



  position: fixed;
  top: 0;
  left: 0;

  transform: translateX(-100%);
  transition: transform 0.3s ease;
  overflow: scroll;

}

.epsilion-wrapper-one.open {
  transform: translateX(0);
}


.menu-btn {
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}
.close-btn {
  background: none;
  border: none;
  color: black;
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
}

.topbar {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  background: #f5f5f5;
}









.user-AI-usage-container {
  padding: 10px;
  background: rgba(252, 215, 8, 0.128);
  color: rgb(255, 217, 0);
  border-radius: 10px;
}

.free-request-text {
  color: gold;
  font-family: AntipastoPro;
  margin-bottom: 10px;
}

.user-number-request-left {
  margin-left: 80px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.upgrade-text {
  color: grey;
}

.premuim-access-container {
  color: white;
  border-radius: 30px;
  background-color: black;
  padding: 30px;
  width: 200px;

  text-align: center;
  margin: auto;
  margin-top: 250px;
}

.premuim-access-container p:first-of-type {
  font-weight: bold;
  margin-bottom: 3px;
  font-size: 12px;
  font-family: Playfair Display;
}

.premuim-access-container p:last-of-type {
  font-size: 12px;
  margin: 8px;
  color: grey;
}

.upgrade-now-button {
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  background-color: gold;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.epsilion-wrapper-two {
  width: 80%;




  flex: 1;
  width: 100%;
  transition: transform 0.3s ease;
  
}

.epsilion-wrapper-two.shift {
  transform: translateX(260px);
}

.your-usage-text {
  color: grey;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ask-episilion-search-conatainer {
  position: fixed;
  bottom: 40px;
  width: 80%;
  /* left: 50%; */
  /* position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw; */
  /*max-width: 600px;       optional: prevent it from stretching too wide */
  /*background: #b4d10c;       style as needed */
  /* background-color: #dfded3; */
  padding: 10px;
  /* z-index: 1000; */
  /* ensures it stays above footer */

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: white;
}



@media only screen and (min-width: 1200px) {
  .ask-episilion-search {
    bottom: 40px;
  }
}



.ask-episilion-search-bar {
  background-color: rgb(231, 221, 221);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 90%;
  border-radius: 20px;
  gap: 30px;
}

.ask-episilion-input-box {
  padding: 10px;
  width: min(700px, 60%);
  border-radius: 12px;
  border: none;
  background-color: inherit;
  width: 100%;
  font-size: clamp(14px, 2vw, 15px);
  resize: none;
}

.ask-episilion-input-box:placeholder-shown {
  font-size: clamp(14px, 2vw, 15px);
  font-family: AntipastoPro;
}

.ask-episilion-search-button {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #d3c84d;
  width: 4%;
  height: 40px;
  max-width: 50px;
}

.send-image-epislion {
  width: 50%;
  height: 50%;
}

.ask-epislion-warning-message {
  text-align: center;
  font-size: clamp(9px, 2vw, 14px);
  color: grey;
  font-family: cursive;
}

.messages {
  /* position: fixed;
  top: 120px;
  bottom: 130px; 
  left: 50%;
  transform: translateX(-50%); */
  width: 100%;
  /* max-width: 600px; */
  max-height: 380px;
  min-height: 4000px;
  /* height: 55%; */

  display: flex;
  flex-direction: column;
  gap: 30px;

  overflow-y: auto;
  padding: 10px;
  scroll-behavior: smooth;
  background-color: rgb(231, 221, 221);

  /* border: solid red; */
}
@media only screen and (min-width: 800px) and (max-width: 1200px){
  .messages {
    max-height: 100%;
  }
}

/* User message aligned right */
.user-message {
  align-self: flex-end;
  /* pushes bubble to far right */
  background: black;
  color: white;
  font-family: cursive;
  padding: 10px 15px;
  border-radius: 8px;
  max-width: 70%;
  word-wrap: break-word;
  border-top-right-radius: 0;
  font-size: clamp(12px, 2vw, 16px);
  /* Flattens corner where tail meets */
}

.episilion-message-and-bot-conatainer {
  display: flex;
  gap: 10px;
}


.ask-episilion-robot-image {
  width: min(30px, 20%);
  /* height: min(40px, 20%); */
  height: 40px;
  padding: 5px;
  background-color: #d3c84d;
  border-radius: 20px;
}

.ask-episilion-message-first-Paragraph {
  font-size: clamp(10px, 2vw, 15px);
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ask-episilion-message-second-Paragraph {
  color: grey;
  font-size: clamp(12px, 2vw, 15px);
  margin-top: 10px;
  line-height: 25px;
}

.ask-episilion-light-bulb {
  width: 3%;
  height: 15px;
  min-width: 15px;
}

.ask-episilion-message-third-Paragraph {
  display: flex;
  align-items: center;
  border: solid gold;
  padding: 5px;
  font-size: clamp(10px, 2vw, 15px);
  border-radius: 10px;
  margin-top: 10px;
  font-weight: bold;
  color: rgb(255, 217, 0);
  background-color: rgba(232, 230, 220, 0.217);
}

/* Epsilon message aligned left */
.episilion-message {

  align-self: flex-start;
  /* pushes bubble to far left */
  background: #f1f1f1;
  padding: 20px;
  margin: 5px;
  border-radius: 8px;
  max-width: 70%;
  word-wrap: break-word;
  border-top-left-radius: 0;
  /* Flattens corner where tail meets */
}

.episilion-response-price-view-details{
  display: flex;
  gap: 10px;
}


.episilion-response-header {
  text-align: center;
  font-size: clamp(10px, 2vw, 20px);
  font-weight: lighter;
  font-family: Playfair Display;
}

.episilion-response-card-details{
  display: flex;
  margin: 10px;
  /* justify-content: center; */
  align-items: center;
  justify-content: space-between;
}


.episilion-response {
  /* display: flex; */
  margin: 5px;
  width: 100%;
}

.episilion-response-hostel-name {
  font-family: Sancreek;
  font-weight: lighter;
  font-size: clamp(10px, 2vw, 15px);
}

.episilion-response-hostel-price {
  font-family: PriceMart;
  font-weight: lighter;
  color: green;
  font-size: clamp(10px, 2vw, 13px);
  margin-left: 5px;
}

.episilion-response-hostel-link {
  margin-left: 5px;
  color: white;
  font-size: clamp(10px, 2vw, 15px);
  cursor: pointer;
  padding: 5px;
  background-color: #d3c84d;
  border-radius: 5px;
}

.episilion-response-image {
  width: 100px;
  display: block;
  border-radius: 5px;
}

@media only screen and (max-width: 992px) {

  /* .epsilion-wrapper-one{
    display: none;
  } */
  .epsilion-wrapper-two {
    width: 100%;
    /* border: solid green; */
  }

  .ask-episilion-search-conatainer {
    bottom: 70px;
    width: 100vw;
  }

  .episilion-response-hostel-price {
    margin-left: 1px;
  }

  .episilion-response-hostel-link {
    margin-left: 3px;
  }

  .ask-episilion-search-button {
    width: 20%;
  }

  .ask-episilion-search-bar {
    gap: 10px;
  }

  .ask-episilion-message-second-Paragraph {
    line-height: 20px;
  }

  .messages{
    height: 90%;
    /* padding-bottom: 50px; */
  }
}

@media (min-width: 992px) {
  .epsilion-wrapper-one {
    transform: translateX(0);
    position: relative;
    width: 20%;
  }

  .epsilion-wrapper-two {
    /* margin-left: 20%; */
    transform: none !important;

  }

  .menu-btn,
  .close-btn {
    display: none;
  }
}




/* .ask-episilion-loader {
  color: black;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 
    2em -2em 0 0em, 3em 0 0 -1em, 
    2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 
    3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 
    2em -2em 0 0, 3em 0 0 0.2em, 
    2em 2em 0 0, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, 
     -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, 
     -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, 
     -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 
    3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 
    3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
} */
  

/* HTML: <div class="loader"></div> */
.ask-episilion-loader.active {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: l1 1s infinite;
}
@keyframes l1 {to{transform: rotate(.5turn)}}



.ask-episilion-loader-container{
  width: 5%;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  min-width: 50px;
}
.ask-episilion-loader-container.hide{
  display: none;
  border: solid red;
}