.more-from-us-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #006948 0%, #00855d 100%);
  padding: 50px;
  margin-top: 80px;
  height: 45vh;
}

.more-from-us-header h2 {
  color: white;
  font-weight: bold;
  font-size: 3rem;
  font-family: OutfitBold;
  text-align: center;
}

.more-from-us-header p {
  color: #ffffff;
  font-size: 14px;
  font-family: OutfitLight;
  text-align: center;
  font-size: clamp(15px, 2vw, 18px);
  width: 50%;
}

.more-from-us-main-container {
  display: flex;
  padding: 100px;
  gap: 40px;
}
.more-from-us-project-container {
  border-radius: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);

  display: flex;
  padding: 40px;
  background-color: rgb(255 255 255);
  width: 90%;
}
.more-from-us-project-container h2 {
  font-family: OutfitSemiBold;
  font-size: 3.3rem;
  margin-bottom: 10px;
}
.more-from-us-project-container h3 {
  color: rgb(0 133 93);
  font-family: OutfitMedium;
  font-size: clamp(18px, 2vw, 25px);
  margin-bottom: 10px;
}
.more-from-us-project-container p {
  font-family: OutfitLight;
  margin-bottom: 10px;
}
.more-from-us-project-container button {
  display: flex;
  gap: 10px;
  padding: 15px;
  min-width: 100px;
  border-radius: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.more-from-us-buttons {
  display: flex;
  gap: 10px;
}
.more-from-us-buttons p {
  margin: 0;
  font-family: OutfitMedium;
}
.more-from-us-learn-more-button {
  background-color: rgb(85, 89, 88);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  font-size: 15px;
}

.more-from-us-in-development {
  background-color: white;
  color: rgb(0 105 72);
  border: solid black 0.5px;
  font-size: 15px;
}

.more-from-us-project-image{
  height: auto;
  max-height: 400px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.185);
  overflow: hidden;
  border-radius: 20px;
  /* max-height: 300px; */
}
.project-image{
  height: 100%;
  width: 100%;
}


.more-from-us-join-wishlist-container{
  background-color: rgb(41 78 63);
  padding: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  gap: 10px;
}
.more-from-us-join-wishlist-container h2{
  color: white;
  font-family: OutfitMedium;
  font-size: clamp(10px, 2vw, 25px);
}
.more-from-us-join-wishlist-container p{
  color: rgb(245 255 247);
  font-family: OutfitLight;
}
.more-from-us-join-wishlist-icon{
  width: 50px;
  height: auto;
  color: rgb(133 248 196);
}
.more-from-us-join-wishlist-container input{
  background-color: rgb(255 255 255 / 0.1);
  color: rgb(255 255 255);
  height: 45px;
  border: solid .5px #ddd;
  border-radius: 10px;
  min-height: 35px;
  padding: 5px;
}
.more-from-us-join-wishlist-container button{
  background-color: rgb(6, 233, 142);
  height: 50px;
  min-height: 45px;
  border-radius: 10px;
  font-size: clamp(10px, 2vw, 18px);
  font-family: OutfitMedium;
}



@media only screen and (max-width: 992px) {
  .more-from-us-header h2{
    font-size: 2rem;
  }
  .more-from-us-header p {
    width: 100%;
  }
  .more-from-us-main-container{
    flex-direction: column;
    padding: 13px;
  }
  .more-from-us-project-container{
    width: 100%;
    padding: 20px;
    flex-direction: column-reverse;
    
  }
  .more-from-us-project-container button{
    padding-left: 10px;
    padding-right: 10px;
  }
}

